
.navtabs {
    font-size: 20px;
    margin: 10px;
    background-color: #d88989;
    border-radius: 0.6vmin;
    color: #f1eeee;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-right: 1.5vmin;
    padding-left: 1.5vmin;
    text-decoration: none;
    font-family: 'Noto Serif', serif;
}

.welcome {
    background-color: #f1eeee;
    color: #0e702f;
    border-radius: 0.6vmin;
    border-color: #0e702f;
    border-width: 3px;
    border-style: solid;
    text-decoration: none;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-right: 1.5vmin;
    padding-left: 1.5vmin;
    margin: 10px;
    font-size: 17px;
    font-family: 'Noto Serif', serif;
}

.logo {
    background-color: #0e702f;
    color: #f1eeee;
    border-radius: 0.6vmin;
    text-decoration: none;
    font-size: 25px;
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-right: 1.5vmin;
    padding-left: 1.5vmin;
    margin: 10px;
    font-family: 'Niconne', cursive;
}