.GalleryPage {
    height: 100%;
    background-color: var(--white);
    border-radius: 2vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5vmin;
}

.title {
    color: #d86868;
    font-family: 'Niconne', cursive;
    margin: 10px;
    font-size: 35px;
    padding-top: 0.8vmin;
    padding-bottom: 0.8vmin;
    padding-right: 1.5vmin;
    padding-left: 1.5vmin;
    border-radius: 0.6vmin;
    border-color: #d88989;
    border-width: 3px;
    border-style: solid;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 2vmin;
    padding: 3vmin;
    overflow-y: scroll;
}

.images {
    margin: 2.5vh;
    width:35vw;
    height: auto;
}